.setting {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-input {
  width: 50%;
  height: 20px;
}

.button-box {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.button-box button {
  width: calc(100% / 3 - 1%);
  padding: 1px;
}

.analyze-box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analyze-box button {
  width: calc(100% / 2);
  padding: 1px;
  height: 50px;
}

/* .graph-box {
  display: flex;
  width: 100vw;
  height: calc(100vw / 2);
}

.graph-box #graph {
  width: 30%;
} */
